<ion-content>
    <div>
        <ion-item>
            <ion-label position="floating">Identifiant</ion-label>
            <ion-input [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" class="color-red">Mot de Passe</ion-label>
            <ion-input type="password" [(ngModel)]="mdp"></ion-input>
        </ion-item>
        <ion-button [disabled]="mdp.length < 3 || id.length < 3" color="primary" (click)="login()">Connexion
        </ion-button>
    </div>
    <span *ngIf="error"> Une erreur est survenue : {{error}} </span>
    <span *ngIf="loading"> Chargement en cours... </span>
    <span *ngIf="user && !loading && !error"> Bienvenue {{user.nom}}</span>
</ion-content>
